# ~/.aliases
#
# Use this file to store your shell aliases.
#

# --- Navigation ---
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -='cd -'
alias cd='z'

# --- Shortcuts ---
alias g="git"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias editzsh="micro ~/.zshrc"
alias reloadzsh="source ~/.zshrc"

# --- Listings (using exa) ---
alias l="exa -lF --color=always"
alias ls="exa"
alias ll="exa -alh --icons"
alias la="exa -a"
alias lsd="exa -lF --color=always | grep --color=never '^d'"
alias tre="exa --tree"

# --- System ---
alias week='date +%V'
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0" # For macOS, will need adjustment for Linux
alias sudo='sudo ' # Enable aliases to be sudo’ed
alias reload="exec ${SHELL} -l"
alias cls='clear'
alias mem='free -h'
alias cpu='btop'
alias temp='sensors'
alias usage='du -sh * 2>/dev/null | sort -hr'
alias update='apt update && apt upgrade -y'
alias cleanup='sudo apt autoremove --purge -y && sudo apt clean'
alias netcheck='ping -c 4 google.com'
alias ports='sudo lsof -i -P -n | grep LISTEN'


# --- Misc ---
alias lessf="less +F"

alias swenv="bash ~/scripts/switch-env.sh"

# --- Git ---
alias gitgraph="git log --all --decorate --oneline --graph"
alias gitupdate="git fetch && git pull"
alias gitstat="git status"
alias gitad="git add"
alias gitcom="git commit -m"

# --- Termux ---
alias reload-settings="termux-reload-settings"
alias termper="termux-setup-storage"
alias scan="termux-media-scan"
alias open="termux-open"

# --- Android Navigation ---
alias sd="cd /sdcard"
alias dl="cd /sdcard/Download"
alias ds="cd /sdcard/Documents"
alias ms="cd /sdcard/Movies"
alias ss="cd /sdcard/Pictures/Screenshots"

# --- File System ---
alias largefile="du -h -x -s -- * | sort -r -h | head -20"
